#comapaniesName {
    margin-top: 0;
    width: 100vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    /*align-items: center;*/

    background: var(--background);
}

.bubble {
    fill-opacity: 0.6;
    stroke: #fff;
}

.bubble:hover {
    fill-opacity: 1.0;
}

.label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: #000;
    pointer-events: none;
}

#itKompanii h1{
    text-align: center;
    font-size: 5rem;
    color: var(--header);
    text-decoration: underline;

    border-bottom: 4px solid var(--header);
}

#languagesDistribution h1{
    padding-top: 5%;
} 

#languagesDistribution {
    text-align: center;
    width: 100vw;
    margin-left: 50px;
    margin-top: 10%; 
}
#languagesPieChart {
    width: 80vw !important;
    height: 80vw !important;
    margin: 50px auto;
}


